.header{
    background-color: #282c34;
    padding: 1rem;
    color: white;
}

.header h1 {
    margin: 0;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: underline;
}